---
import { Icon } from 'astro-icon'
---

<input id="search" class="h-14 pr-8 pl-5 rounded z-0 border border-solid border-neutral-300 bg-transparent bg-clip-padding utline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary" type="text" placeholder="Search...">
<div id="results" class="fixed bg-white dark:bg-gray-900 w-full left-0"/>
<script is:inline>
  document.querySelector('#search')?.addEventListener('input', async (e) => {
    // only load the pagefind script once
    if (e.target.dataset.loaded !== 'true') {
      e.target.dataset.loaded = 'true'
      // load the pagefind script
      window.pagefind = await import(import.meta.env.SEARCH_SCRIPT);
    }

    // search the index using the input value
    const search = await window.pagefind.search(e.target.value)

    // clear the old results
    document.querySelector('#results').innerHTML = ''

// <img class="max-w-sm" src="${data.meta.image}">

    // add the new results
    for (const result of search.results) {
      const data = await result.data()
      document.querySelector('#results').innerHTML += `
      <section class="relative md:-mt-[76px]">
        <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
          <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
          <div class="py-12 md:py-20 lg:py-0 lg:flex lg:items-center lg:h-screen lg:gap-8">
            <div class="basis-1/2 text-center lg:text-left pb-10 md:pb-16 mx-auto">
              <h3
                class="text-2xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
                ${data.meta.title}
              </h3>
              
              <div class="max-w-3xl mx-auto lg:max-w-none">
                <p class="text-xl text-muted mb-6 dark:text-slate-300">
                  ${data.excerpt}
                </p>
                <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 lg:justify-start lg:m-0 lg:max-w-7xl">
                   <div class="flex w-full sm:w-auto">
                      <a class="btn btn-primary sm:mb-0 w-full" 
                        href="${data.url}" target="_blank" rel="noopener">
                        Continue the article
                        <Icon name='tabler:arrow-right' class="w-5 h-5 ml-1 -mr-1.5" />
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="basis-1/2">
              <div class="relative m-auto max-w-5xl">
                <img
                    class="mx-auto rounded-md w-full"
                    src="${data.meta.image}"
                    alt="${data.meta.title}"
                  />
              </div>
            </div>
          </div>
        </div>
      </section>`
     
    }
  })
</script>